<div class="p-5 bg-sec mt-80">
  <div class="container py-5 text-white">
    <h1 class="text-center text-uppercase mb-4">about component</h1>
    <app-star></app-star>
    <div class="row gy-4 mt-3">
      <div class="col-md-6">
        <div class="px-5 text-center">
          <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization, The download includes the complete source files including HTML</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="px-5 text-center">
          <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization, The download includes the complete source files including HTML</p>
        </div>
      </div>
    </div>
  </div>
</div>
