<div class="p-5 mt-80">
<h1 class="text-center text-main text-uppercase">conatct component</h1>
<app-star2></app-star2>
<div class="form w-50 m-auto">
  <div class="input-container w-100">
  <input type="text" id="input" required="">
  <label for="input" class="label">User Name</label>
  <div class="underline"></div>
</div>
  <div class="input-container w-100">
  <input type="text" id="input" required="">
  <label for="input" class="label">User Age</label>
  <div class="underline"></div>
</div>
  <div class="input-container w-100">
  <input type="text" id="input" required="">
  <label for="input" class="label">User Email</label>
  <div class="underline"></div>
</div>
  <div class="input-container w-100">
  <input type="password" id="input" required="">
  <label for="input" class="label">User Password</label>
  <div class="underline"></div>
</div>
  <button class="btn btn-success bg-sec border-0">Send Message</button>
</div>
</div>

