
<div class="p-5 mt-80">
  <h1 class="text-center text-main text-uppercase">portfolio component</h1>
  <app-star2></app-star2>
  <div class="container py-4">
    <div class="row gy-4">
    @for (item of images; track $index) {
      <div class="col-md-4">
      <div class=" p-2">
        <div class="position-relative rounded-3 overflow-hidden innerproto" (click)="Changeimg(item)">
          <img [src]="item"  class="w-100" alt="">
          <div class="lyer1 position-absolute top-0 bottom-0 start-0 end-0 bg-sec-90 d-flex align-items-center justify-content-center"><i class="fa-solid fa-plus text-white plusIcon"></i></div>
        </div>
      </div>
    </div>
    }
  </div>
  </div>
  <div class="lyer2 position-fixed top-0 bottom-0 start-0 end-0  bg-black bg-opacity-25 d-flex align-items-center justify-content-center d-none">

    <div class="w-40 ">
        <img [src]="nowImge" class="w-100 rounded-3 " alt="" >
    </div>
    <div class=" position-absolute top-0 bottom-0 start-0 end-0  z-n1" (click)="Hodeimg()">
    </div>

  </div>
</div>
