<nav class="navbar navbar-expand-lg bg-main py-4 m-0 fixed-top">
  <div class="container">
    <a class="navbar-brand text-white fw-bold logo" routerLink="Home" >START FRAMEWORK</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0  ">

        <li class="nav-item">
          <a class="nav-link mx-2 px-3 rounded-2 fw-bold  text-white" routerLink="About" routerLinkActive="bg-sec" >ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2  px-3 rounded-2 fw-bold  text-white" routerLink="Portfolio" routerLinkActive="bg-sec " >PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2 px-3 rounded-2 fw-bold  text-white" routerLink="Contact" routerLinkActive="bg-sec " >CONTACT</a>
        </li>

      </ul>

    </div>
  </div>
</nav>
