/* You can add global styles to this file, and also import other style files */

:root{
  --main-color:#2c3e50;
  --sec-color:#1abc9c;
  --sec-90-color:rgba(26, 188, 156,0.8);
}
h1{
  font-size: 40px !important;
  font-weight: 700;
}
.bg-main{
  background-color: var(--main-color) !important;
}
.text-main{
  color: var(--main-color) !important;
}
.bg-sec{
  background-color: var(--sec-color) !important;
}
.w-250{
  width: 250px !important;
}
.w-40{
  width: 40% !important;
}
.bg-sec-90{
  background-color: var(--sec-90-color) !important;
}
.left , .rigth{
  width: 150px;
  height: 6px;
  border-radius: 100vh;
}
.mt-80{
  margin-top: 82px;
}
::-webkit-scrollbar{
width: 14px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--sec-90-color);
  border-radius: 5px;
  transition: all 0.9s;

}
::-webkit-scrollbar-thumb:hover{
  background-color: var(--sec-color);
}
::-webkit-scrollbar-track{
  background-color: var(--main-color);
  box-shadow: 0 0 1px #ddd inset;
}
